@{
    ViewData["Title"] = "Fresh.ly | About";
}

<div style="display:flex;flex-direction:column; align-items:center; padding:1em;">

   <h1 style="margin-top:1rem;">About</h1>

   <img style="width:40%;" src="https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260" alt="Selective Focus Photography of Wheat Field" />

    <p style="margin-right:40em;margin-left:40em;margin-top:3em;"><strong>Fresh.ly</strong> started as an idea to help farmers by directing customer orders to the source itself. Developed by three college students from De La Salle-College of Saint Benilde,
    this web application can now be utilized to extend our support to our local farmers by buying their products straight from them. The team made partnerships with different farms all around the Philippines and the freshness of all products delivered to your doorstep 
    are ensured to be freshly picked from the farm.</p>

</div>

<div style="height:10vh;"></div>    