@{
    ViewData["Title"] = "Fresh.ly | Home";
}




<div style="margin:0;margin-top:1em;display:flex;">

    <div style="width: 30%; background-color: #7cbf34;height:85vh;display:flex;flex-direction:column;justify-content:space-between;">

        <div>
            <h1 style="font-weight:bold;text-align:center;margin-top:0.5em;color:white;">My Cart</h1>


            <hr />

            <table class="table table-hover" style="height:30%">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-danger">
                        <th scope="row">Onions</th>
                        <td>Php4.00</td>
                        <td>x3</td>

                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Garlic</th>
                        <td>Php5.00</td>
                        <td>x7</td>

                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Sitaw</th>
                        <td>Php8.00</td>
                        <td>x2</td>

                    </tr>


                </tbody>
            </table>
        </div>
        <div>
            <hr />
            <div style="display:flex;flex-direction:column; justify-content:space-between;align-content:center;padding:3em;">
                <h4 style="color:white;">Total: Php63.00</h4>
                <button class="btn btn-secondary my-2 my-sm-0" style="background-color:#fad00c !important; border:none !important;" type="submit">CHECKOUT</button>
            </div>
        </div>
    </div>

    <div style="width:1%;">



    </div>

    <div style="width: 68%; display: flex; flex-direction: row; justify-content: space-around; background-color: #eff2d3;padding:2em;">


        <div style="display: flex; flex-direction: column; align-items: center; height: 30em; width: 30%; padding: 2em; background-color: navajowhite;">


            <img style="width:80%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Onion_on_White.JPG/1200px-Onion_on_White.JPG" alt="Yellow onion - Wikipedia" />
            <h3>Onion</h3>
            <h4>Andy's Farm</h4>
            <h4>Php4.00</h4>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center; height: 30em; width: 30%; padding: 2em; background-color: navajowhite;">


            <img style="width:80%;" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Tomato_je.jpg" alt="Yellow onion - Wikipedia" />
            <h3>Tomato</h3>
            <h4>Egay's Farm</h4>
            <h4>Php7.00</h4>
        </div>

        <div style="display:flex;flex-direction:column;align-items:center;height:30em; width:30%;padding:2em;background-color:navajowhite;">


            <img style="width:80%;" src="https://www.gardeningknowhow.com/wp-content/uploads/2020/03/primo-vantage-400x350.jpg" alt="Yellow onion - Wikipedia" />
            <h3>Cabbage</h3>
            <h4>Kabayugan Farm</h4>
            <h4>Php30.00</h4>
        </div>










    </div>

    <div style="width:1%;">



    </div>


</div>
