@{
    ViewData["Title"] = "Fresh.ly | Login";



}


<div class="container">
    <h1 style="margin-top:2vh;" class="text-center text-success">Login</h1>
    <form>
        <div class="m-1 p-1">
            <div class="text-center text-warning">
                <label>Username:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="text" class="form-control" placeholder="Enter your username">
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-center text-warning">
                <label>Password:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="password" class="form-control" placeholder="Enter your password">
            </div>
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
    <br>
    <div class="text-center">
        <a href="/Home/Registration" class="text-info">Haven't created an account? Sign up here!</a>
    </div>

    <div style="height:56vh;"></div>

</div>