@{
    ViewData["Title"] = "Fresh.ly | Register";



}
<h1 class="text-center text-success">Registration</h1>
<div class="container text-center">
    <form>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>First Name:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="text" class="form-control" placeholder="Enter your first name">
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>Last Name:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="text" class="form-control" placeholder="Enter your last name">
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>Username:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="text" class="form-control" placeholder="Enter your username">
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>Password:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="password" class="form-control" placeholder="Enter your password">
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>Confirm Password:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="password" class="form-control" placeholder="Confirm your password">
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>Address:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>Phone Number:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="number" class="form-control" placeholder="09123456789">
            </div>
        </div>
        <div class="m-1 p-1">
            <div class="text-warning">
                <label>Email:</label>
            </div>
            <div class="col-6" style="margin: 0 auto">
                <input type="email" class="form-control" placeholder="Enter your email">
            </div>
        </div>
        <div class="col text-center">
            <button class="btn btn-success">Register</button>
        </div>

        <div style="height:13vh;"></div>
    </form>
</div>